<nav class="navbar">
  <!-- LOGO -->
  <div class="logo"><a routerLink="" routerLinkActive="active">SuperElf</a></div>

  <!-- NAVIGATION MENU -->
  <ul class="nav-links">

    <!-- NAVIGATION MENUS -->
    <div class="menu">

      <li><a routerLink="/players" routerLinkActive="active">Players</a></li>
      <li><a routerLink="/myteam" routerLinkActive="active">My Team</a></li>
      <li><a routerLink="/standings" routerLinkActive="active">Standings</a></li>
      <li><a routerLink="/myprofile" routerLinkActive="active">My Profile</a></li>

<!--       <li class="services">
        <a href="/">Services</a>

        // DROPDOWN MENU
        <ul class="dropdown">
          <li><a href="/">Dropdown 1 </a></li>
          <li><a href="/">Dropdown 2</a></li>
          <li><a href="/">Dropdown 2</a></li>
          <li><a href="/">Dropdown 3</a></li>
          <li><a href="/">Dropdown 4</a></li>
        </ul>

      </li> -->

    </div>
  </ul>
</nav>
<router-outlet></router-outlet>